@font-face {
  font-family: 'CustomF1Font';
  src: url('/src/assets/Formula1-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomF1Font', sans-serif;
}


.App {
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color: #1d1f21; /* Dark background for F1 theme */
  color: white;
  font-family: 'CustomF1Font', 'sans-serif'; 
  min-height: 100vh;
}

/* App Main Styling */
.App-main {
  flex:1;
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #ff1e00; /* F1 Red */
  text-decoration: none;
}

/* Formula One-Themed Logo Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}


a{
  text-decoration: none;
}


/* Styling the Home Page Links */
.homeBody a {
  color: #ff1e00;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.homeBody a:hover {
  text-decoration: underline;
}

